.title {
  font-weight: bold;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stored-payments {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.payment {
  width: 100%;
  height: 87px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
  margin-top: 8%;
  border-radius: 10px;
}

.payment-image-container {
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.payment-picture {
  max-width: 100%;
  height: 100%;
  margin-left: 1.5%;
}

.user-container {
  width: 40%;
  color: black;
  font-weight: 400;
  font-size: 16px;
}


.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.add-payment-method-btn {
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  border: 1px solid #9AF0FF;
}

.icon-container {
  position: relative;
  width: 25px;
  height: 25px;
}

.icon-background {
  width: 100%;
  height: 100%;
  background: #00363D;
  border-radius: 100%;
  position: absolute;
}

.inner-circle {
  width: 80%;
  height: 80%;
  background: transparent;
  border: 2px solid white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-icon {
  color: white;
  position: relative;
}

.add-payment-text {
  color: white;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  word-wrap: break-word;
  text-align: center;
}

.payment {
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.payment .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 198, 68, 0.12); 
  border: 2px solid rgba(18, 56, 0, 1);
  border-radius: 5px;
}

.payment .confirmation-symbol {
  position: absolute;
  top: 10%;
  right: 2%;
}
