.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(38, 98, 124, 0.8);
  z-index: 9998;
}

.dialog-container1,
.dialog-container2 {
  color: black;
  display: block;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dialog-container1 {
  background-color: #f0bcc0;
  border-color: rgb(210, 5, 5);
}

.dialog-container2 {
  background-color: #a5e9b5;
  border-color: rgb(0, 154, 0);
}

.dialog-content {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.error-icon {
  color: rgb(210, 5, 5);
  font-size: 24px;
}

.success-icon {
  color: rgb(0, 154, 0);
  font-size: 24px;
}

.header-message {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  color: #646363;
}

.header1 .header2 {
  font-size: 16px;
}

.header1 {
  color: rgb(210, 5, 5);
}

.header2 {
  color: rgb(0, 154, 0);
}

.dialog-message {
  text-align: left;
  margin: 0;
  font-size: 14px;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #646363;
}

.icon {
  font-size: 42px;
}
