:host {
  --header-height: 104px; /*damit wie in Figma*/
}

.logo.title {
  font-size: 40px; /*2px mehr als es anfangs war*/
  font-weight: 400;
  margin: 0;
}

.map-container {
  height: 100%;
  width: 100%;
  padding: 0;
}

.map-header {
  position: relative;
  padding: 20px;
  padding-top: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: var(--header-height);
  width: 100%;
  padding-bottom: -20px; /*damit wie in Figma*/
}

.map-header .switch-btn {
  position: absolute;
  top: 50px;
  left: 30px;
  color: var(--icon-color);
  /*damit Überschrift und Button parallel ist folgendes*/
  margin-top: 7px;
  margin-left: -5px;
}

.map-header .switch-btn.map-view {
  transform: rotate(-90deg);
}

.map-header .switch-btn.list-view {
  padding-top: 4px;
  margin-left: -8px;
}

.map {
  /* 
    Wegen einigen Eigenheiten von Leaflet muss die Karte die volle Höhe einnehmen,
    außer den Platz, der für den Header reserviert ist. "Calc" erlaubt es uns 
    diese Größe automatisch zu errechnen. */
  height: 80%;
  /* height: calc(100% - var(--header-height)); */
  width: 100%;
  padding: 0;
  margin-top: -20px; /*damit wie in Figma*/
}

/*********** ab hier Scooterliste-Seite ***********/

/* Vorlage von Figma übernommen und überarbeitet */

.main-container {
  width: 100%;
  height: 100%;
  background: #26627c;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 230px;
}

.content {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.list-element {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.12) solid;
  border-radius: 15px;
  overflow: hidden;
}

.blue-header {
  width: 100%;
  padding: 20px 30px;
  background: #00363d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-title {
  color: #9af0ff;
  font-size: 16px;
  font-weight: 500;
  flex-grow: 1;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 17px; /*wegen längstem Scooternamen so weit rechts*/
}

.star {
  font-size: 20px;
  margin-right: 3px;
  padding-bottom: 2px;
  color: #97fb64;
}

.rating {
  color: #97fb64;
}

.white-box {
  padding: 19px 82px 8px 82px;
  background: white;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

.green-bar {
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
  background: #97fb64;
  justify-content: center;
  align-items: center;
}

.scooter-information {
  background-color: white;
  padding-bottom: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item-1,
.info-item-2 {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
  padding-top: 10px;
}

.info-item-1 {
  padding-left: 15px;
}

.grey-box-1,
.grey-box-2 {
  padding: 6px 9px 4px 9px;
  background: rgba(33, 33, 33, 0.08);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.grauer-kasten-1 {
  width: 32%;
}

.grauer-kasten-2 {
  width: 45%;
}

.info-title {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.info-subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 7px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-price,
.value {
  text-align: center;
  color: #123800;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.info-price {
  padding: 11px 0 0 18px;
}

.value {
  margin: 11px 0 0 5px;
}

.green-button {
  margin-top: 7px;
  margin-right: 15px;
}
