.page-container {
  text-align: center;
}

.title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.back-button {
  margin-bottom: 20px;
}

.dropdown-container {
  margin-bottom: 15px;
}

.dropdown {
  padding: 5px;
  font-size: 1em;
  width: 158px;
}

.statistic-field,
.sub-statistic-field {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  border: 2px solid #97fb64;
  background-color: rgba(0, 0, 0, 0.13);
  text-align: center;
  vertical-align: middle;
}

.stat-title,
.sub-stat-title {
  font-size: 1em;
  margin: 8px;
  color: white;
}

.stat-value,
.sub-stat-value {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.scrollable-container {
  max-height: 70vh; 
  overflow-y: auto;
  padding: 1rem;
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar {
  width: 4px;
}
