.dropdown {
  position: sticky; /* damit die componente nicht nach unten verrutscht*/
}

.btn {
  -webkit-tap-highlight-color: transparent; /* entfernt das highlighting von klicks auf buttons*/
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: #26627c;
  color: #ffffff;
  border: none;
  display: flex;
  cursor: pointer;
  position: static;
  align-items: center; /* Zentrieren horizontal */
  margin-bottom: 15px;
}

svg {
  margin-right: 8px; /* Abstand zwischen icon und text */
  position: static;
}

/* -- Styles für die einzelnen Sortierungsmöglichkeiten -- */
.dropdown-content {
  z-index: 1;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  right: 0%; /* Damit der dropdown content den gleichen Abstand hat rechts, wie die Kommentare gecuttet wird*/
  background-color: #3da3ce;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  width: 145%;
}
.dropdown-headline {
  padding-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  font-size: medium;

  box-shadow: inset 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: black;
  /* padding: 12px 16px; */
  display: block;
  cursor: pointer;
}

.text {
  font-size: 15px;
}
