.title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px; /*Titel parallel zum back-button*/
}

.scrollable-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment {
  width: 100%;
  height: 15%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 10px;
}

.payment-image-container {
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.payment-picture {
  max-width: 100%;
  height: 100%;
}

.user-container {
  width: 40%;
  color: black;
  font-size: 95%;
}

.delete-container {
  width: 25%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trashcan-picture {
  overflow: hidden;
  width: 70%;
  height: 70%;
}

.button-container{
  margin-top: 8%;
  width: 100%;
}