.about-me {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}

.picture {
  max-width: 80px;
  margin-right: 20px;
  background-size: cover;
  border-radius: 100%;


}

#name {
  font-size: 18px;
  font-weight: normal;
}
