input {
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 13px;
  font-size: 13px;
  padding: 7px;
  padding-left: 13px;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: var(--Textfeld-Stroke, #000);
}
