.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(38, 98, 124, 0.80);
  z-index: 9998;
}


.dialog-container {
  display: block;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.container-test {
  color: black;
}

.dialog-header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  white-space: nowrap;
}

.dialog-header svg{
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
