.booking-item {
    background-color: #fff;
    border-radius: 15px;
    height: auto;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.current-booking {
    border: 4px solid rgba(151, 251, 100, 1); /* Grüne Umrandung für aktuelle Buchungen */
}

.past-booking {
    border: 4px solid rgb(184, 184, 184); /* Graue Umrandung für vergangene Buchungen */
}

.scooter-image {
    width: 25%;
    height: auto;
    margin-right: 25px;
    margin-left: 5px;
    border-radius: 10px;
}

.scooter-image.grayscale {
    filter: grayscale(100%); /* Setzt das Bild auf Grau */
}

.booking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.scooter-title {
    font-size: 15px;
    margin: 0;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0px;
    line-height: 1.3;
}

.booking-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -3px;
    margin-top: -3px;

    font-size: 12px;
    font-weight: 400;
    line-height: 0.1;
}

#returntime {
    margin-top: -6px !important;
}

.booking-info-label {
    min-width: 110px;
    font-size: 12px;
    font-weight: 400;
}

.horizontal-infos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 7px;
}

.green-box {
    background-color: rgba(151, 251, 100, 1);
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px -3px;
    display: flex;
    align-items: center;
    width: 84px;
    height: 22px;
    margin-bottom: 2px;
}

.gray-box {
    background-color: rgb(218, 215, 215);
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px -3px;
    display: flex;
    align-items: center;
    width: 84px;
    height: 22px;
    margin-bottom: 2px;
}

.green-box .material-symbols-outlined,
.gray-box .material-symbols-outlined {
    color: black;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    margin-top: 0px;
}



#calendar-icon {
    margin-top: -1px;
}
