
.page-container {
    display: flex;
    justify-content: center;

  }
  
  .message-box {
    width: 70%;
    height: 33%;
    background-color: white;
    border-radius: 6px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    margin-top: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  #header {
    color: black;
    font-size: 16px;
    margin-top: 0;
  }

  #info-text {
    color: rgba(0, 0, 0, 0.6);
    font-size:  14px;
    margin-top: 0;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px; 
    margin-top: 20px;
  }
  
  ::ng-deep .buttons app-button {
    width: 168px; 
  }
  
  ::ng-deep .buttons app-button button {
    font-size: 13px !important; 
    width: 100% !important; 
    height: 35px;
    white-space: nowrap; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    line-height: 35px; 
  }
  