.label {
  margin-left: 3px;
  margin-bottom: -4px;
  font-size: 15px;
  font-weight: 300;
}

input {
  width: 100%;
  margin: 0;
  border: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 5px;
  background: white;
  color: var(--background);
  font-size: 16px;
  padding: 7px;
  transition: box-shadow 0.3s ease; 
  text-align: left;
}

input:focus {
  outline: none;
}

.error-message {
  color: red;
  font-weight: bold;
  box-shadow: box-shadow 0 0 10px rgba(255, 0, 0, 0.5); 
}

.invalid-input input {
  border-color: red;
}
