/*
        Weitere Styles für .page-container sind in der src/styles.css Datei,
        da diese in anderen Komponenten verwendet werden. Die Klasse kann aber
        lokal mit neuen Attributen überschrieben oder ergänzt werden.
    */

/*
        Flex und Grid sind sehr passende CSS-Layout-Systeme, um die
        Komponenten im .page-container zu positionieren. Flexbox ist
        besonders gut für vertikale und horizontale Zentrierung geeignet.

        Flex Dokumentation: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout
        Grid Dokumentation: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
    */

/*
        Weitere Styles für .title sind in der src/styles.css Datei,
        da diese in anderen Komponenten verwendet werden
    */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto; /* damit man scrollen kann */
}

.logo-container {
  position: relative;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo.title {
  color: white;
  font-size: 40px;
  font-family: Racing Sans One;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.logo-container img {
  width: 100%;
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  max-width: 768px;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 40px;
  margin-bottom: 100px;
}

app-user-input {
  width: 100%;
}

.login-btn {
  width: 80%;
}

.info {
  font-size: 11pt;
}

.about {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.centered {
  vertical-align: middle;
  height: 50px;
}

.error-container {
  color: red;
  position: sticky;
  top: 10px; /* für später */
  margin-bottom: -30px; /* somit bleibt die Fehlermeldung über dem Button ohne ihn runter zu schieben*/
  width: 100%;
  text-align: center;
}
