textarea {
  width: 300px;
  height: 80px;
  border: 1px;
  border-style: solid;
  border-color: #97fb64;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px;
  padding-left: 13px;
  resize: none;
}

textarea:focus {
  outline: none;
}

input::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  text-align: left;
  vertical-align: top;
}
