<div class="page-container">
  <app-back-button></app-back-button>

  <h1 class="title">Über uns</h1>

  <div class="scrollable-container">
    <p id="text">
      Auf dieser Seite finden Sie Informationen zum Soft-Ware-Projekt Team,
      dass die gegebene Version der App entwickelt hat.
    </p>

    <div class="Team-member">
    <h4>Unser Team</h4>
    <app-dafina-kastrati></app-dafina-kastrati>
    <app-jonas-heilig></app-jonas-heilig>
    <app-naser-thaqi></app-naser-thaqi>
    <app-celil-durna></app-celil-durna>
    <app-mojtaba-maleknejad></app-mojtaba-maleknejad>
    <app-michael-huber></app-michael-huber>
    </div>

    <div class="institution-container">
      <h4>Institution</h4>
      <div>Universität Konstanz</div>
      <div>Universitätsstr. 10</div>
      <div>78464 Konstanz</div>
      <div>Deutschland</div>
  </div>
</div>
